<div class="card" style="text-align: center; width: 900px;">
    <h1 style="color:aquamarine ;">FEEL FREE TO REACH US</h1>
    <div class="container69" style="text-align: center; width: 800px;">
        <div style="text-align:center">
          <h2>Contact Us</h2>
          <p>Swing by for a cup of coffee, or leave us a message:</p>
        </div>
        <div class="row">
          <div class="column">
            <img src="../../assets/images/contactus.jfif" style="width:100%">
          </div>
          <div class="column">
            <form action="">
              <label for="fname">First Name</label>
              <input type="text" id="fname" name="firstname" placeholder="Your name..">
              <label for="lname">Last Name</label>
              <input type="text" id="lname" name="lastname" placeholder="Your last name..">
              <label for="country">Country</label>
              <select id="country" name="country">
                <option value="australia">Australia</option>
                <option value="canada">Canada</option>
                <option value="usa">USA</option>
              </select>
              <label for="subject">Subject</label>
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>
  </div>

  <div class="card" style="width: 1225px; margin-top: 50px;">
    <h1 style="text-align:center" class="buttonTextMain">MEET OUR TEAM</h1>
    <div class="cc123" style="margin-left: 50px;">
      <img style="width: 250px;" src="../assets/images/sayantan.jpeg" class="img123">
      <p style="text-align: center; color: honeydew;">Sayantan Bhunia (TL)</p>
      <p style="text-align: center; color: honeydew;">PsNo: 10672500</p>
      <i class="fa fa-envelope" style="margin-left: 10px; font-size:22px; color: aquamarine; font-size: 20px;"> sayantanbhnia1@gmail.com</i>
      <p style="text-align: center; color: honeydew;">Ph.No: +91 7384694988</p>
    </div>
    <div class="cc123">
      <img style="width: 250px;" src="../assets/images/aniket.jpeg" class="img123">
      <p style="text-align: center; color: honeydew;">Aniket Kundu</p>
      <p style="text-align: center; color: honeydew;">PsNo: 10672489</p>
      <i class="fa fa-envelope" style="margin-left: 8px; font-size:22px; color: aquamarine; font-size: 20px;"> kunduaniket1998@gmail.com</i>
      <p style="text-align: center; color: honeydew;">Ph.No: +91 8620844160</p>
    </div>
    <div class="cc123">
      <img style="width: 250px;" src="../assets/images/chandrima.jpeg" class="img123">
      <p style="text-align: center; color: honeydew;">Chandrima Dutta</p>
      <p style="text-align: center; color: honeydew;">PsNo: 10672333</p>
      <i class="fa fa-envelope" style="font-size:22px; color: aquamarine; font-size: 20px;"> chandrimadutta98@gmail.com</i>
      <p style="text-align: center; color: honeydew;">Ph.No: +91 8697676889</p>
    </div>
    <div class="cc123">
      <img style="width: 250px;" src="../assets/images/riya.jpeg" class="img123">
      <p style="text-align: center;  color: honeydew;">Riya Deshpande</p>
      <p style="text-align: center; color: honeydew;">PsNo: 10672259</p>
      <i class="fa fa-envelope" style="margin-left: 35px; font-size:22px; color: aquamarine; font-size: 20px;"> rdriyad24@gmail.com</i>
      <p style="text-align: center; color: honeydew;">Ph.No: +91 9769637048</p>
    </div>
  </div>

