<div class="card" style="text-align: center; width: 1200px; height: 850px; text-align: left; background-image: url('../../assets/images/black222.jpg'); ">
    <h1 style="color:whitesmoke; text-align: center; text-shadow: 0 0 10px orange;">Basic Instructions for Online
        Examinations:</h1>
    <div class="abcd" style="margin: 50px;">
        <h3 class="buttonTextMain" style="color:whitesmoke; font-size: 20px; "> A. General information:</h3>

        <p> 1. The examination will comprise of Objective type Multiple Choice Questions
            (MCQs)
        </p>
        <p> 2. All questions are compulsory and each carries One mark.</p>
        <p> 3. The total number of questions, duration of examination, will be different
            based on
            the course, the detail is available on your screen.</p>
        <p> 4. The Subjects or topics covered in the exam will be as per the Syllabus.</p>
        <p> 5. There will be NO NEGATIVE MARKING for the wrong answers.</p>


        <h3 class="buttonTextMain" style="color:whitesmoke; font-size: 20px;"> B. Information & Instructions:</h3>
        <p>1. The examination does not require using any paper, pen, pencil and calculator.</p>
        <p>2. Every student will take the examination on a Laptop/Desktop/Smart Phone</p>
        <p>
            3. On computer screen every student will be given objective type type Multiple Choice
            Questions (MCQs).</p>
        <p>4. Each student will get questions and answers in different order selected
            randomly
            from a fixed Question Databank.</p>
        <p>5. The students just need to click on the Right Choice / Correct option from the
            multiple choices /options given with each question. For Multiple Choice Questions,
            each question has four options, and the candidate has to click the appropriate
            option.</p>

        <br><br><br>

        <button class="buttonmain" type="submit" value="Submit" style="width: 300px;
         text-shadow:0 0 10px red; font-weight: bold; background-image: url('../../assets/images/grey.jpg');"
         (click)="nav()">I
            UNDERSTOOD</button>
    </div>
</div>