.cc {
    width: 100%;
   margin-right: 60px;
   
    margin-bottom: 30px; 
    position: relative;
    left:45px;
   margin-top:30px;


  
   
 
  } 




/* .cc {
    width: 100%;
   margin-right: 60px;
   
    margin-bottom: 60px; 
    position: relative;
    left:45px;
   margin-top:40px;


  
   
 
  } */



    
  

