<!-- <div class="card" style="text-align: center; width: 990px;">  -->
<div class="card" style="text-align: center; width: 980px;max-height:700x;">
  
  <h1 class="buttonTextMain">Select Subject for Examination</h1>
  
  <div class="cc" style="float: left;">
    <img src="./assets/images/java1.png" alt="Avatar" style="width:100%; max-height:190px;border-radius: 10px;">

    <div class="container">
      <button class="buttonmain" id="javabtn" (click)="go(1)" value="java">
        <h2 class="buttonTextMain">JAVA</h2>
      </button>
    </div>
  </div>




  <div class="cc" style="float: left;">
    <img src="./assets/images/mysql1.png" alt="Avatar" style="width:100%;max-height:190px; border-radius: 10px;">
    <div class="container">
      <button class="buttonmain" id="sqlbtn"  [routerLink]="['/cSoonLink']" value="plSql">
        <h2 class="buttonTextMain">MY SQL</h2>
      </button>
    </div>
  </div>




  <div class="cc" style="float: left;">
    <img src="./assets/images/php1.png" alt="Avatar" style="width:100%;max-height:190px; border-radius: 10px;">
    <div class="container">
      <button class="buttonmain"  [routerLink]="['/cSoonLink']">
        <h2 class="buttonTextMain">PHP</h2>
      </button>
    </div>
  </div>


  <div class="cc" style="float: left;">
    <img src="./assets/images/c++1.png" alt="Avatar" style="width:100%;max-height:190px; border-radius: 10px;">
    <div class="container">
      <button class="buttonmain"  (click)="go(2)" value="cCpp">
        <h2 class="buttonTextMain">C/C++</h2>
      </button>
    </div>
  </div>

  <div class="cc" style="float: left;">
    <img src="./assets/images/python1.png" alt="Avatar" style="width:100%;max-height:190px; border-radius: 10px;">
    <div class="container">
      <button class="buttonmain"  [routerLink]="['/cSoonLink']">
        <h2 class="buttonTextMain">PYTHON</h2>
      </button>
    </div>
  </div>



  <div class="cc" style="float: left;">
    <img src="./assets/images/net1.jpg" alt="Avatar" style="width:100%;max-height:190px; border-radius: 10px;">
    <div class="container">
      <button class="buttonmain"  [routerLink]="['/cSoonLink']">
        <h2 class="buttonTextMain">.NET</h2>
      </button>
    </div>
  </div>

</div>







<!-- <div class="cc" style="float: left;">
                    <img src="./assets/images/c++1.png" alt="Avatar" style="width:100%; border-radius: 10px;">
                    <div class="container">
                      <button class="buttonmain">
                        <h2 class="buttonTextMain">C++</h2>
                      </button>
                    </div> -->



<!-- <div class="cc" style="float: left;">
                        <img src="./assets/images/python1.png" alt="Avatar" style="width:100%; border-radius: 10px;">
                        <div class="container">
                          <button class="buttonmain">
                            <h2 class="buttonTextMain">PYTHON</h2>
                          </button>
                        </div> -->



<!-- <div class="cc" style="float: left;">
                            <img src="./assets/images/net1.jpg" alt="Avatar" style="width:100%; border-radius: 10px;">
                            <div class="container">
                              <button class="buttonmain">
                                <h2 class="buttonTextMain">.NET</h2>
                              </button>
                            </div> -->