<div class="card" style="text-align: center; width: 1200px; height: 850px; text-align: left; background-image: url('../../assets/images/black222.jpg'); ">
  
    <div class="abcd" style="margin: 50px;">
        <img src="../../assets/images/examination.jpeg" style="width: 1060px;" alt="Italian Trulli">
        <h3 class="buttonTextMain" style="color:whitesmoke; font-size: 20px; "> What is online examination? Definition explained</h3>

        <p> 
            Online examination is conducting a test online to measure the knowledge of the participants on a given topic.
            In the olden days, everybody had to gather in a classroom at the same time to take an exam. 
            With online examination students can do the exam online, in their own time, with their own device, regardless of where they live.
            You only need a browser and an internet connection.
        </p>


        <h3 class="buttonTextMain" style="color:whitesmoke; font-size: 20px;">
            Benefits and limitations of an online examination system</h3>
        <p>
            The big benefit of online examination is the cost and time saving, both for students and teachers.
            The biggest limitation is that you have to be online to use an online examination system. Hence the name "online". 
        </p>
           <p>✔️Are there any limitations to an online exam?
        <p>
            The biggest limitation is that you have to be online to use an online examination system.</p>
      

    </div>
</div>