<div>
    <div class="main">
        <div class="card" style="padding-bottom: 40px; border-radius: 10px; background-image: url('../../assets/images/black222.jpg');">
            <h2 class="buttonTextMain" style="text-align: center; text-shadow: 0 0 10px red;">Forgot Password? How will you remember the answers?</h2>
            <form #loginForm="ngForm" (ngSubmit)="forgetPassword()">
                <div class="container69" style="border-radius: 10px;">
                    <!--{{loginForm.value|json}}-->
                    
                    <label for="email" class="buttonTextMain"><b style="color: honeydew; font-size: 20px;">Enter Registered Email Id</b></label>
                    <!--<input type="text" placeholder="Enter Username" [(ngModel)]="user.uname" name="uname" required>-->
                    <br><br>
                    <input style="border-radius: 10px;" type="email" #email="ngModel" placeholder="Enter Username" name = "email" [(ngModel)]="forget.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div class="alert" *ngIf="email.errors.required" style="color: rgb(145, 255, 0);">
                            Email is required !
                        </div>
                        <div class="alert" *ngIf="email.errors.pattern" style="color: rgb(92, 250, 255);">
                            Invalid Email !
                        </div>
                    </div>

                    <br><br>

                    <label for="mobile" class="buttonTextMain"><b style="color: honeydew; font-size: 20px;">Enter Registered Mobile No.</b></label><br>
                    <br>
                    <input style="border-radius: 5px; margin-top: 0px;" type="number" #mob="ngModel"  placeholder="Enter Mobile Number" [(ngModel)]="forget.mobile"  name="mobile" pattern="\d{10}" required>
                    <div *ngIf="mob.invalid && (mob.dirty || mob.touched)">
                        <div class="alert" *ngIf="mob.errors.required" >
                           Mobile Number is required !
                        </div>
                        <div class="alert" *ngIf="mob.errors.pattern" style="color: rgb(0, 247, 255);">
                            Invalid Mobile Number !
                        </div>
                    </div>
                    <br><br>
                    <br>
                    <button type="submit" style=" height: 40px; text-shadow: 0 0 10px rgb(255, 51, 0); margin-top: 10px; margin-bottom: 10px; border: 1px solid rgb(0, 0, 0); border-radius: 10px;"><b style="color: whitesmoke; font-size: 16px;">Send Password</b></button>
                    <br>
                   
                </div>
            </form>
        </div>
    </div>
</div>