<div>
  <div class="card" style="text-align: center; width: 800px;">
    <div class="cc" style="float: left;">
      <img src="../assets/images/admin.jpg" alt="Avatar" style="width:99.8%; border-radius: 10px;">
      <div class="container" style="align-items: center;">
        <button  class="buttonmain" style="align-self: center;" [routerLink]="['/loginAdminLink']" target="new">
          <h2 class="buttonTextMain">ADMIN</h2>
        </button>
      </div>
    </div>

    <b class="buttonTextMain" style="text-align: center;  font-size:20px;">JOIN AS</b>

    <div class="cc" style="float: right;">
      <img src="../assets/images/user.jpg" alt="Avatar" style="width: 100%; border-radius: 10px;" />
      <div class="container">
        <button class="buttonmain" [routerLink]="['/userLink']" target="new">
          <h2 class="buttonTextMain">USER</h2>
        </button>
      </div>
    </div>
  </div>

  <div class="card" style="background-image:url('../assets/images/blackGrey.jpg'); width: 1225px; margin-top: 50px;">
    <h1 style="text-align:center" class="buttonTextMain">MEET OUR TEAM</h1>
    <div class="cc123">
      <img style="width: 270px;" src="../assets/images/sayantan.jpeg" class="img123">
      <p style="text-align: center; color: honeydew;">Sayantan Bhunia (TL)</p>
      <p style="text-align: center; color: honeydew;">PsNo: 10672500</p>
    </div>
    <div class="cc123">
      <img style="width: 270px;" src="../assets/images/aniket.jpeg" class="img123">
      <p style="text-align: center; color: honeydew;">Aniket Kundu</p>
      <p style="text-align: center; color: honeydew;">PsNo: 10672489</p>
    </div>
    <div class="cc123">
      <img style="width: 270px;" src="../assets/images/chandrima.jpeg" class="img123">
      <p style="text-align: center; color: honeydew;">Chandrima Dutta</p>
      <p style="text-align: center; color: honeydew;">PsNo: 10672333</p>
    </div>
    <div class="cc123">
      <img style="width: 270px;" src="../assets/images/riya.jpeg" class="img123">
      <p style="text-align: center;  color: honeydew;">Riya Deshpande</p>
      <p style="text-align: center; color: honeydew;">PsNo: 10672259</p>
    </div>
  </div>
</div>